<%- include('./partials/header.ejs') %>

<h1><a href="/">BOBREPORT</a></h1>
<h3>Hey Cheater, you did already report this <%=daytime%>!</h3>
<p><a href="/report">Go back to report page</a></p>

<%- include('./partials/footer.ejs') %>
